<h1><%= t('messages.listing', model: @questions.model_name.human(count: 2)) %></h1>


<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"><%= translate_field(@questions, :description) %></th>
    <th scope="col"><%= translate_field(@questions, :subject) %></th>
    <th>
      <%= link_to  new_admins_backoffice_question_path, class: "btn btn-outline-success btn-circle btn-lg" do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.description.truncate(40) %></td>
      <td><%= question.subject.description.truncate(29) %></td>
      <td>
        <%= link_to edit_admins_backoffice_question_path(question), class: "btn btn-outline-primary btn-circle" do %>
          <i class="fa fa-edit"></i>
        <% end %>

        <%= link_to admins_backoffice_question_path(question),
                    method: :delete,
                    class: "btn btn-danger btn-circle btn-sm",
                    data: {confirm: t('messages.confirm_with',
                    item: question.description.truncate(15) )} do %>
          <i class="fa fa-minus"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="float-none">
  <%= paginate @questions %>
</div>
