<div class="col-md-auto">
  <div class="jumbotron">
    <h3>
      <%= msg_jumbotron %>
    </h3>
  </div>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="card" style="width: 50rem;">
      <div class="card-header">
        <span class="badge badge-info">
          <%= link_to "#{question.subject.description} (#{question.subject.questions.count})",
                      site_search_subject_path(question.subject_id, question.subject.description),
                      style: "color: white" %>
        </span>
        <%= question.description %>
      </div>
      <div class="card-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style:none;">
              <div class="radio">
                <label>
                  <%= radio_button_tag 'answer_id', answer.id %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style:none;">
            <%= form.submit "Responder", class:"btn btn-default" %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<div class="float-none">
  <%= paginate @questions %>
</div>
