<h1><%= t('messages.listing', model: @admins.model_name.human(count: 2)) %></h1>


<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"><%= translate_field(@admins, :email) %></th>
    <th>
      <%= link_to  new_admins_backoffice_admin_path, class: "btn btn-outline-success btn-circle btn-lg" do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @admins.each do |admin| %>
    <tr>
      <td><%= admin.id %></td>
      <td><%= admin.email %></td>
      <td>
        <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-outline-primary btn-circle" do %>
          <i class="fa fa-edit"></i>
        <% end %>

        <%= link_to admins_backoffice_admin_path(admin),
                    method: :delete,
                    class: "btn btn-danger btn-circle btn-sm",
                    data: {confirm: t('messages.confirm_with',
                    item: admin.email.truncate(15) )} do %>
          <i class="fa fa-minus"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="float-none">
  <%= paginate @admins %>
</div>
