<!DOCTYPE html>
<html>

<body class="admin">

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <ul>
          <li class="list-group-item active">
            Menu
          </li>

          <li class="list-group-item list-group-item-action">
            <%= link_to admins_backoffice_welcome_index_path do %>
              <i class="fa fa-dashcube"> Dashboard</i>
            <% end %>
          </li>

          <li class="list-group-item list-group-item-action">
            <%= link_to admins_backoffice_admins_path do %>
              <i class="fa fa-users"> Administradores</i>
            <% end %>
          </li>

          <li class="list-group-item list-group-item-action">
            <%= link_to admins_backoffice_subjects_path do %>
              <i class="fa fa-file-text"> Assuntos/Areas</i>
            <% end %>
          </li>

          <li class="list-group-item list-group-item-action">
            <%= link_to admins_backoffice_questions_path do %>
              <i class="fa fa-th-list"> Perguntas</i>
            <% end %>
          </li>
        </ul>

      </div>
    </div>

    <div class="col-md-9">
      <%= yield %>
    </div>

  </div>
</div>
</body>
</html>
