<div>
  <div class="cotainer">
    <div class="row justify-content-center">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h1>Cadastre-se</h1>
          <div>
            <%= f.email_field :email, autofocus: true, placeholder:"Email",
                              class:"form-control" %>
          </div>
          <div>
            <%= f.password_field :password, placeholder:"Senha", class:"form-control" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, placeholder:"Confirmação da senha", class:"form-control" %>
          </div>
          <div>
            <%= f.submit "Entrar", class:"btn btn-success submit", style:"float: none; margin-left: 0px; width: 70%;" %>
            <%= link_to 'Home', root_path, class:"text-primary text-decoration-none" %>
          </div>
          <div class="clearfix"></div>
          <%= devise_error_messages! %>
          <div class="separator"></div>
        <% end %>
      </section>
    </div>
  </div>
</div>